@page
@{
    ViewData["Title"] = "Our Athletes";
}

<!-- Page title bar -->
<div class="page-title">
    <h1>Our Athletes</h1>
</div>

<!-- Athletes list -->
<div class="athletes-list">
    <div class="athlete-item">
        <a asp-page="./Baseball/Index">
            <img src="~/img/baseball-banner.png" alt="Baseball" />
            <span class="athlete-caption">Baseball</span>
        </a>
    </div>
    <div class="athlete-item">
        <a asp-page="./Basketball/Index">
            <img src="~/img/basketball-banner.png" alt="Basketball" />
            <span class="athlete-caption">Basketball</span>
        </a>
    </div>
    <div class="athlete-item">
        <a asp-page="./Football/Index">
            <img src="~/img/football-banner.png" alt="Football" />
            <span class="athlete-caption">Football</span>
        </a>
    </div>
</div>
