@page
@{
    ViewData["Title"] = "Football";
}
<div class="banner-stack">
    <div class="carousel-container">
        <div class="carousel-item">
            <img src="~/img/football-banner.png" alt="Football" />
        </div>
    </div>
</div>

<div class="profiles-section">
    <a asp-page="../Amos/Index" class="profile-card">
        <img src="~/img/amos-bw.png" alt="Amos Aguilera" />
        <div class="profile-name">Amos Aguilera</div>
    </a>
    <!-- other profile-cards… -->
</div>
