@page
@{
    ViewData["Title"] = "Contact Us";
}
<div class="banner">
    <div class="rectangle"></div>
    <div class="text-wrapper">Contact Us</div>
    <p class="have-questions-or">
        Have questions or want to work with us?<br />Reach out today!
    </p>
</div>

<div class="hero-section">
    <img class="hero-image" src="~/img/image-3.png" alt="Hero Image" />

    <div class="contact-card">
        <div class="text-wrapper-2">Contact Information</div>

        <div class="group-2">
            <img class="image-2" src="~/img/phone.png" alt="Phone Icon" />
            <div class="text-wrapper-4">Phone: (909) 232-2422</div>
        </div>

        <div class="group-email">
            <img class="email-icon" src="~/img/email.png" alt="Email Icon" />
            <div class="email-info">
                Email: <a href="mailto:playersclubmamtsjz@gmail.com">playersclubmamtsjz@gmail.com</a>
            </div>
        </div>

        <div class="group-instagram">
            <img class="insta-icon" src="~/img/insta.png" alt="Instagram Icon" />
            <div class="instagram-info">
                Instagram: <a href="https://www.instagram.com/playersclubmgmt/" target="_blank">@@playersclubmgmt</a>
            </div>
        </div>

        <div class="text-wrapper-3">Submit an Inquiry</div>
        <div class="overlap-group-wrapper">
            <a href="https://docs.google.com/forms/…"
               target="_blank"
               class="inquiry-button">
                <div class="frame-wrapper">
                    <div class="frame">
                        <div class="text-wrapper-6">Inquiry Form</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
